<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="js/lib/jquery-1.11.3.min.js"></script>
	<script src="js/lib/underscore-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/backbone-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/mustache.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/socket.io.js" type="text/javascript" charset="utf-8"></script>
	<title>CIS197 Final</title>
</head>

<body id="center">
	<h1>Bar Graph Builder</h1>
	<div id="left"> 
		Input Values
		<br><br>
		<input type="text" name="search" id="search" class="search form-control" value="" autocomplete="off" placeholder="Search for..."/>
	</div>
	<div id="right">
		Bar Graph 
		<div class="chart"></div>
	</div>

	<script src="js/main.js"></script>
	<script src="js/model/entryModel.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/collection/entryCollection.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/view/graphView.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/view/inputView.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/router/router.js" type="text/javascript" charset="utf-8"></script>
</body>