h1 {
  font: 3em "Arial Rounded MT Bold", "Optima", "Arial";
  text-align: center;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}