h1 {
  font: 3em "Arial Rounded MT Bold", "Optima", "Arial";
  text-align: center;
}

.center {
	text-align: center;
}

#left {
	float:left;
	width:50%;
}
#right {
	float:right;
	width:50%;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}